*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: inherit;
}

h1{
    display: flex;
    text-align: center;
    line-height: 150px;
    justify-content: center;
    color: rgb(81, 17, 110);
}

.header{
    background: rgb(201, 177, 223);
    width: 100%;
    height: 150px;
}

.list{
    background-color: rgb(81, 17, 110);
    padding : 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
a{
    text-decoration: none;
    color: #fff;
}
p{
    margin-left:20px ;
}
h2{
    margin: 20px;
}